/.idea/modules.xml
/.idea/Pynamics_demo_for_compliant_fin_ral.iml
/pynamics.log
/robot_p1.gif
/robot_p2.gif
/__pycache__/fit_qs.cpython-311.pyc
/robot_p1.gif
/robot_p2.gif
/full_swimming.gif

/*.mp4
/*.gif
/*.xml